        #pwrap_3 {
            width: 100%;
            border: 0px;
            background-color: #f5f8fd;
            padding: 60px 0;
        }

        #pmain_3 {
            width: 1110px;
            margin: 0 auto;
        }

        #pheader_3 {
            text-align: center;
        }

        #pheader_3 > h3 {
            width: 50%;
            display: inline-block;
            font-size: 36px;
        }


        .currency_3 {
            font-size: 30px;
            top: -30px;
            position: relative;
            font-weight: 400;
        }

        .month_3 {
            font-size: 16px;
            font-weight: 400;
        }

        .price_3 {
            font-size: 64px;
            font-weight: 400;
        }

        #pheader_3 > p {
            margin: 0 auto 30px auto;
            width: 50%;
            padding-bottom: 60px;
        }

        #pmain_3 {
            overflow: hidden;
            position: relative;
        }

        .pmainwrap_3 {
            width: 350px;
            height: 400px;
            float: left;
            margin: 10px 5px 40px 5px;
            padding: 36px 0px;
            text-align: center;
            box-sizing: border-box;
            background-color: white;
            position: relative;
            transition: 0.3s ease-in-out;
            z-index: 1;
            font-weight: 300;
            overflow: hidden;
        }

        .pmainwrap_3:hover {
            box-shadow: 0 1px 20px 10px lightgray;
            transform: scale(1.05);

        }

        .pmainwrap_3 >h4 {
            font-weight: 400;
        }

        .pmainwrap_3 > ul li {
            list-style: none;
            text-align: left;
            padding: 0 60px;
        }

        .pmainwrap_3 > ul {
            padding: 0 40px 20px 40px;
        }

        .pmainwrap_3 > a {
            display: inline-block;
            width: 150px;
            line-height: 16px;
            background-color: #1bb1dc;
            text-transform: uppercase;
            font-size: 13px;
            padding: 10px 24px;
            letter-spacing: 1px;
            border-radius: 3px;
            color: white;
            text-decoration: none;
            transition: 0.3s;
        }

        .pmainwrap_3:hover > a {
            background-color: #0a98c0;
            color: white;

        }

        .mainbar_3 {
            box-sizing: border-box;
            height: 6px;
            width: 0;
            position: absolute;
            margin: -39px 0;
            background-color: #1bb1dc;
            float: left;
        }

        .pmainwrap_3:hover .mainbar_3 {
            animation-name: ani_3;
            animation-duration: 1s;
        }

        @keyframes ani_3 {
            from {
                width: 0px;
            }
            to {
                width: 350px;
                background-color: #1bb1dc;
            }
        }

