*{
    box-sizing: border-box;
    margin: 0;padding: 0;
}
#why-us_2{
    width: 100%;
}
#why-us_2 .container-fluid{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
#why-us_2 .header{
    width: 100%;
}
#why-us_2 h3{
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    color: #413e66;
    font-weight: 700;
    position: relative;
    font-family: "Montserrat", sans-serif;
}
#why-us_2 .header p{
    width: 50%;
    text-align: center;
    margin: auto;
    padding-bottom: 60px;
}

#why-us_2 .row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
#why-us_2 .col{
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding: 0 15px;
}
#why-us_2 .content{
    flex: 0 0 50%;

}
#why-us_2 .features {
    margin-bottom: 15px;
}


#why-us_2 .content img{
    width: 40px;
    height: 36px;
    float: left;
}
#why-us_2 h4{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-left: 56px;
    margin-bottom: 5px;
    color: #413e66;
    padding: 0;
}
#why-us_2 .content p{
    font-size: 16px;
    margin-left: 56px;
    margin-bottom: 20px;
    color: #555186;
}
#why-us_2 .footer{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
#why-us_2 .footer .row{
    padding-top: 40px;
}
#why-us_2 .footer .col{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    padding: 0 15px;
}
#why-us_2 span{
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: bold;
    display: block;
    color: #555186;
    line-height: 72px;
}